my name is{{question.author}}
and my question is{{question.question}}
<br>


<!-- <h2> Reviews </h2>
<ul>
  {{#each question.reviews as |review|}}
    {{review-tile review=review destroyReview="destroyReview"}}
  {{/each}}
</ul>

<button {{action 'delete' question}}>Delete</button> -->
