<strong>My name is</strong>
<br>
{{question.author}}
<br>
<strong>Question</strong>
<br>
      {{question.question}}
<br>


<!-- <h2> Reviews </h2>
<ul>
  {{#each question.reviews as |review|}}
    {{review-tile review=review destroyReview="destroyReview"}}
  {{/each}}
</ul>

<button {{action 'delete' question}}>Delete</button> -->
