<!-- <li>{{question.author}}</li>
  And my Question is....
  <li>{{question.question}}</li> -->

  <li>
    <strong>Author</strong>: {{#link-to 'question' question.id}}{{question.author}}{{/link-to}}
 {{update-question question=question update="update"}}

  </li>
