<strong>My name is</strong>
<br>
{{question.author}}
<br>
<strong>This is my question</strong>
<br>
      {{question.question}}
<br>
<h2> Answers </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
