{{!-- Feel free to remove this! --}}

<div class= "container">
  <header class= "jumbotron">
    <h1>Quest <strong>On Air</strong></h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to hear from you{{/link-to}}
  </footer>
</div>
