<h1> Welcome to Super questions </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |question|}}
     <li>{{question.author}}</li>
       And my Question is....
       <li>{{question.questio}}</li>
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
