<h1> Welcome to Questionaire</h1>

We hope you find your answer

<ul>
  <div class = "row">
    <div class = "col-md-3">
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</div>
</div>
</ul>
{{new-question saveQuestion2="saveQuestion3"}}


{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
